body {
  background-color: #000;
  margin-left: 260px;
}

.sidebar {
  color: #fff;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 10;
}
.logo {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 250px;
  height: 90px;
  background-color: #121212;
  border-radius: 5px;
}
.logo .bi {
  margin-top: 5px;
  padding-left: 20px;
}

.logo,
.library {
  text-align: center;
  margin-left: 10px;
  display: flex;
}

.logo span {
  font-size: 14px;
}

.buttons button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 14px;
  padding: 5px 10px;
  margin: 5px 0;
  cursor: pointer;
  margin-top: 15px;
}

.buttons button:hover {
  background-color: #333;
  border-radius: 5px;
}
.container-fluid {
  background-color: #121212;
}
.second-container {
  margin-left: 10px;
  margin-top: 10px;
  padding-left: 10px;
  border-radius: 5px;
  height: 75%;
}

.custom-icon {
  color: #433e3e;
  transition: color 0.3s;
}
.custom-icon:hover {
  color: #fff;
}
.custom-icon .plus i,
.custom-icon .arrow-right i {
  color: #433e3e;
  transition: color 0.3s;
  margin-left: 10px;
}

.custom-icon .plus:hover i {
  color: #fff;
}

.custom-icon .arrow-right:hover i {
  color: #fff;
}
.library-text {
  display: flex;
  align-items: center;
  margin-left: 0;
}

.library-text span {
  font-size: 14px;
}

.library span {
  font-size: 14px;
  margin-left: 10px;
}

 #search-input {
  padding: 0;
  border: none;
  transition: width 0.3s ease;
  display: none;

} 

/* .o:focus + #search-input {
  width: 150px; 
  padding: 5px; 
  border: 1px solid #a70000; 
} */