.btn-play {
    background-color: #00FF00;
    color: black;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    width: 70px;
    height: 35px;
    font-size: 15px;
    line-height: 15px;
}

.btn-play:hover {
    background-color: #00FF00;
}

.bi-suit-heart-fill {
    color: #00FF00;
}